{% extends 'base.html.twig' %}

{% block title %}Connexion - SimpleBudget{% endblock %}

{% block body %}
    <div style="display:flex; height: 80vh;">
        <div style="width: 300px; margin: auto;">
            <h1 class="text-2xl font-semibold mb-4 text-center">Connexion</h1>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }},
                    <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% else %}
                <form method="post">
                    <div class="form-group mb-4">
                        <label for="inputEmail" class="block text-sm font-bold mb-2 form-label required">Adresse
                            e-mail</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="w-full py-2 px-3 border rounded form-control" autocomplete="email" required
                               autofocus>
                    </div>
                    <div class="mb-4">
                        <label for="inputPassword" class="block text-sm font-bold mb-2 form-label required">Mot de
                            passe</label>
                        <input type="password" name="password" id="inputPassword"
                               class="w-full py-2 px-3 border rounded form-control" autocomplete="current-password"
                               required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-primary w-100">Se connecter</button>
                </form>

                <hr>

                <div class="mt-4 text-center">
                    <a href="#">Mot de passe oublié</a> •
                    <a href="{{ path('app_register') }}">Inscription</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
