{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Inscription - SimpleBudget{% endblock %}

{% block body %}
    <div style="display:flex; height: 80vh;">
        <div style="width: 300px; margin: auto;">
            <h1 class="text-2xl font-semibold mb-4 text-center">Inscription</h1>

            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
            {{ form_end(registrationForm) }}

            <hr>

            <div class="mt-4 text-center">
                <a href="{{ path('app_login') }}">Se connecter</a>
            </div>
        </div>

    </div>
{% endblock %}
