{% extends 'base.html.twig' %}

{% block title %}Budgets - SimpleBudget{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4 mb-4">Vos budgets</h1>

        {% for budget in budgets %}
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ budget.name }}</h2>
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Montant</th>
                                <th>Notes</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            {% for entry in budget.budgetEntries %}
                                <tr>
                                    <td>{{ entry.name }}</td>
                                    <td>{{ entry.value / 100 }}</td>
                                    <td>{{ entry.notes }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="fw-bold">
                                <td>Total</td>
                                <td>{{ budget.getTotal }}</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-actions">
                        <a href="{{ path('app_budget_single', {id: budget.id}) }}" class="btn btn-primary">Détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
